/* Importation de la police Jost */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif; /* Utilisation de la police importée */
}

body {
    background: linear-gradient(135deg, #C7C5F4, #776BCC); /* Dégradé de fond */
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Effet au survol */
}

main {
    margin-top: 60px; /* Espace sous le header */
    padding: 20px;
    text-align: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    width: 300px;
    text-align: center;
}

.project-card img {
    max-width: 100%;
    border-radius: 15px;
}

.contact {
    padding: 20px;
}

.contact form {
    max-width: 600px;
    margin: auto;
}

.contact label {
    display: block;
    margin: 10px 0 5px;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4C489D;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s; /* Transition pour un effet fluide */
}

.contact button:hover {
    background-color: #6A61B1; /* Changement de couleur au survol */
}

.profile-icon {
    display: inline-block; /* Pour s'assurer qu'il s'affiche bien dans la ligne */
    margin-left: 8px; /* Espace entre le lien de déconnexion et l'icône */
    vertical-align: middle; /* Alignement vertical */
    color: currentColor; /* Pour que l'icône prenne la couleur du texte */
    text-decoration: none; /* Supprime le soulignement */
}

.profile-icon svg {
    width: 20px; /* Ajuste la taille selon tes préférences */
    height: 20px;
}

footer {
    text-align: center;
    margin-top: auto; /* Ajoute l'espace sous le contenu principal */
    padding: 10px 0;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 60px auto; /* Ajout de marges pour espacer du header fixe */
    padding: 20px;
    max-width: 800px; /* Limite la largeur de la container */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Ombre pour le conteneur */
}

.form-control {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8; /* Couleur du bord au focus */
}

.profile-button {
    background: rgb(99, 39, 120);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.profile-button:hover {
    background: #682773; /* Couleur au survol */
}

.profile-button:focus,
.profile-button:active {
    background: #682773;
    box-shadow: none;
}

.labels {
    font-size: 14px; /* Augmenter la taille pour une meilleure lisibilité */
    color: #555;
}
